<<<<<<< HEAD
* { outline: none; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

.clearfix, .smw__header, .smw__impression__head, .redirect__head, .smw__impression__list__item { overflow: hidden; *zoom: 1; }

.db { display: block; }

.dib { display: inline-block; }

.fl_l { float: left !important; }

.fl_r { float: right !important; }

.center { overflow: hidden; }

.tac { text-align: center; }

strong { font-weight: 700; }

.images-sprite, .smw__logo, .smw__tab__nav__info:before, .smw__tab__nav__reviews:before, .smw__tab__nav__prices:before, .smw__impression__head__rate, .smw__impression__head__rate_empty, .smw__impression__list__item__has, .smw__impression__list__item__like, .smw__impression__list__item__rate:before, .smw__impression__list__item__tu:before, .smw__impression__list__item__td:before, .smw__impression__list__item__comments:before, .smw__impression__list__item__tu:hover:before, .smw__impression__list__item__tu:active:before, .smw__impression__list__item__td:hover:before, .smw__impression__list__item__td:active:before, .smw__prices__buy:before, .where-to-buy input[type="submit"], .logo { background: url('../images/images-s7f400d24e1.png') no-repeat; }

.smw { font-family: Tahoma; width: 593px; border: 1px solid #d4d4d4; text-align: left; }

.smw__header { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4f4f4), color-stop(100%, #f5f5f5)); background-image: -webkit-linear-gradient(top, #f4f4f4, #f5f5f5); background-image: -moz-linear-gradient(top, #f4f4f4, #f5f5f5); background-image: -o-linear-gradient(top, #f4f4f4, #f5f5f5); background-image: linear-gradient(top, #f4f4f4, #f5f5f5); -pie-background: linear-gradient(top, #f4f4f4, #f5f5f5); background: -ms-linear-gradient(top, #f4f4f4, #f5f5f5); behavior: url(PIE.htc); position: relative; padding: 5px 20px 5px 7px; color: #000; font-size: 14px; border-bottom: 1px solid #e1e1e1; }
.lt-ie9 .smw__header { behavior: none; background: #f5f5f5; }

.smw__stuff-price { color: #005da4; padding: 0 0 0 7px; }

.smw__stuff-name { color: #0a3069 !important; font-size: 19px !important; padding: 9px 0; max-width: 390px; overflow: hidden; }

.smw__stuff-img-wrap { float: left; margin: 0 14px 0 0; }

.smw__stuff-img { border: 1px solid #e4e4e4; display: table-cell; background: #fff; max-width: 102px; min-width: 92px; vertical-align: middle; text-align: center; height: 51px; }
.smw__stuff-img img { max-width: 102px; max-height: 51px; display: inline-block; }

.smw__logo { background-position: -34px -58px; height: 39px; width: 84px; display: block; margin: 9px 0 0; }

.smw__body { position: relative; padding: 9px 0 0; }
.smw__body a { color: #093064; text-decoration: underline; }
.smw__body a:hover { text-decoration: none; }

.smw__tab__nav { margin: 0; padding: 0; border: 0; overflow: hidden; *zoom: 1; margin: 0 0 0 10px; }
.smw__tab__nav li { list-style-image: none; list-style-type: none; margin-left: 0; white-space: nowrap; display: inline; float: left; padding-left: 0.5px; padding-right: 0.5px; }
.smw__tab__nav li:first-child, .smw__tab__nav li.first { padding-left: 0; }
.smw__tab__nav li:last-child { padding-right: 0; }
.smw__tab__nav li.last { padding-right: 0; }
.smw__tab__nav a { height: 25px; line-height: 25px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #383736), color-stop(100%, #262626)); background-image: -webkit-linear-gradient(top, #383736, #262626); background-image: -moz-linear-gradient(top, #383736, #262626); background-image: -o-linear-gradient(top, #383736, #262626); background-image: linear-gradient(top, #383736, #262626); -pie-background: linear-gradient(top, #383736, #262626); background: -ms-linear-gradient(top, #383736, #262626); behavior: url(PIE.htc); position: relative; color: #fff; text-shadow: 1px 1px 0 #333230; font-size: 13px; text-decoration: none; display: block; padding: 0 10px 0 37px; }
.lt-ie9 .smw__tab__nav a { behavior: none; background: #262626; }
.smw__tab__nav a.active { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #274879), color-stop(100%, #385f99)); background-image: -webkit-linear-gradient(top, #274879, #385f99); background-image: -moz-linear-gradient(top, #274879, #385f99); background-image: -o-linear-gradient(top, #274879, #385f99); background-image: linear-gradient(top, #274879, #385f99); -pie-background: linear-gradient(top, #274879, #385f99); background: -ms-linear-gradient(top, #274879, #385f99); -webkit-box-shadow: 0 1px 0 #1f1f1f inset; -moz-box-shadow: 0 1px 0 #1f1f1f inset; box-shadow: 0 1px 0 #1f1f1f inset; }
.lt-ie9 .smw__tab__nav a.active { behavior: none; background: #385f99; }

.smw__tab__nav__info, .smw__tab__nav__reviews, .smw__tab__nav__prices { position: relative; }
.smw__tab__nav__info:before, .smw__tab__nav__reviews:before, .smw__tab__nav__prices:before { content: ''; position: absolute; left: 9px; top: 5px; display: block; }

.smw__tab__nav__info:before { background-position: -60px -29px; height: 13px; width: 15px; }

.smw__tab__nav__reviews:before { background-position: -90px 0; height: 15px; width: 17px; }

.smw__tab__nav__prices:before { background-position: -73px 0; height: 15px; width: 17px; }

.smw__tab__nav__counter { font-size: 11px; color: #c0bfbf; padding: 0 0 0 10px; }

.smw__tab__contents { padding: 10px 0 0; position: relative; }

.smw__tab__contents__item { display: none; position: relative; height: 280px; }
.smw__tab__contents__item:first-child { display: block; }

.smw__info { font-size: 13px; line-height: 18px; float: left; width: 33%; padding: 7px 20px 10px 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.smw__info:nth-child(3n+1) { clear: left; }

.smw__info__name { display: block; color: #666; font-weight: 700; }

.smw__info__value { color: #000; padding: 0 !important; margin: 0 !important; }

.smw__info__all { color: #004382 !important; font-size: 14px !important; padding: 0 0 15px 10px; display: inline-block; }

.smw__impression__head, .redirect__head { background: #f5f9ff; border-top: 1px solid #e9e9e9; border-bottom: 1px solid #e9e9e9; padding: 7px 10px; font-size: 12px; color: #181818; }

.smw__impression__head__slogan { width: 280px; line-height: 14px; position: relative; top: 2px; }

.smw__impression__head__rate, .smw__impression__head__rate_empty { background-position: -99px -29px; height: 29px; width: 27px; line-height: 29px; text-align: center; display: inline-block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 3px 0 0; margin: 0 10px 0 0; font-size: 13px; color: #fff; text-shadow: 0 1px 0 #294812; }

.smw__impression__head__rate_empty { background-position: -107px 0; }

.smw__impression__filter { margin: 0; padding: 0; border: 0; overflow: hidden; *zoom: 1; color: #181818; padding: 9px 0 0; font-size: 12px; }
.smw__impression__filter li { list-style-image: none; list-style-type: none; margin-left: 0; white-space: nowrap; display: inline; float: left; padding-left: 4.5px; padding-right: 4.5px; }
.smw__impression__filter li:first-child, .smw__impression__filter li.first { padding-left: 0; }
.smw__impression__filter li:last-child { padding-right: 0; }
.smw__impression__filter li.last { padding-right: 0; }
.smw__impression__filter a { color: #093064; text-decoration: none; font-size: 12px; }
.smw__impression__filter a.active { font-weight: 700; }

.smw__impression__head__mark { font-size: 12px; color: #000; padding: 7px 27px 0 0; }

.smw__impression__list-sort { height: 233px !important; }

.smw__impression__list__item { padding: 11px 15px 6px 10px; font-size: 12px; position: relative; border-bottom: 1px solid #ededed; width: 568px; }

.smw__impression__list__item__ava { display: block; margin: 0 10px 0 0; }

.smw__impression__list__item__name { text-decoration: none !important; margin: 0 0 5px 0; display: block; }

.smw__impression__list__item__has { background-position: 0 -29px; height: 10px; width: 9px; display: inline-block; }

.smw__impression__list__item__like { background-position: 0 -58px; height: 10px; width: 10px; display: inline-block; }

.smw__impression__list__item__text { padding: 0 !important; margin: 0 0 5px 0 !important; }

.smw__impression__list__item__date { color: #373737 !important; }

.smw__impression__list__item__rate { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; position: absolute; right: 14px; top: 8px; color: #2e6b0a; padding: 0 0 0 15px; height: 12px; line-height: 14px; font-size: 12px !important; }
.smw__impression__list__item:hover .smw__impression__list__item__rate { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.lt-ie9 .smw__impression__list__item:hover .smw__impression__list__item__rate { visibility: visible; }
.lt-ie9 .smw__impression__list__item__rate { visibility: hidden; }
.smw__impression__list__item__rate:before { content: ''; position: absolute; left: 0; top: 0; display: block; background-position: -35px -29px; height: 12px; width: 13px; }

.smw__impression__list__item__nav { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; margin: 0; padding: 0; border: 0; overflow: hidden; *zoom: 1; position: absolute; right: 14px; bottom: 5px; }
.smw__impression__list__item:hover .smw__impression__list__item__nav { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.lt-ie9 .smw__impression__list__item:hover .smw__impression__list__item__nav { visibility: visible; }
.lt-ie9 .smw__impression__list__item__nav { visibility: hidden; }
.smw__impression__list__item__nav li { list-style-image: none; list-style-type: none; margin-left: 0; white-space: nowrap; display: inline; float: left; padding-left: 5px; padding-right: 5px; }
.smw__impression__list__item__nav li:first-child, .smw__impression__list__item__nav li.first { padding-left: 0; }
.smw__impression__list__item__nav li:last-child { padding-right: 0; }
.smw__impression__list__item__nav li.last { padding-right: 0; }

.smw__impression__list__item__tu, .smw__impression__list__item__td, .smw__impression__list__item__comments { display: block; color: #171717 !important; text-decoration: none !important; font-size: 12px !important; line-height: 13px; padding: 0 0 0 15px; position: relative; }
.smw__impression__list__item__tu:before, .smw__impression__list__item__td:before, .smw__impression__list__item__comments:before { content: ''; position: absolute; left: 0; top: 0; display: block; background-position: -23px 0; height: 13px; width: 12px; }

.smw__impression__list__item__tu:before { background-position: -23px 0; height: 13px; width: 12px; }
.smw__impression__list__item__tu:hover:before { background-position: -35px 0; }
.smw__impression__list__item__tu:active:before { background-position: -47px 0; }

.smw__impression__list__item__td:before { background-position: -48px -29px; height: 13px; width: 12px; }
.smw__impression__list__item__td:hover:before { background-position: -10px -58px; }
.smw__impression__list__item__td:active:before { background-position: -75px -29px; }

.smw__impression__list__item__comments { cursor: default; }
.smw__impression__list__item__comments:before { background-position: 0 0; height: 13px; width: 12px; }

.btn_dgreen, .btn_dgreen_big, .redirect__to, .redirect__back { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 21px; line-height: 20px; padding: 0 10px 0 10px; margin: 5px 0 0; text-decoration: none; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2a7a12), color-stop(100%, #176605)); background-image: -webkit-linear-gradient(top, #2a7a12, #176605); background-image: -moz-linear-gradient(top, #2a7a12, #176605); background-image: -o-linear-gradient(top, #2a7a12, #176605); background-image: linear-gradient(top, #2a7a12, #176605); -pie-background: linear-gradient(top, #2a7a12, #176605); background: -ms-linear-gradient(top, #2a7a12, #176605); -webkit-box-shadow: 0px 1px 0px #559e36 inset; -moz-box-shadow: 0px 1px 0px #559e36 inset; box-shadow: 0px 1px 0px #559e36 inset; behavior: url(PIE.htc); position: relative; border: 1px solid #0a5b06; color: #fff !important; font-size: 12px !important; display: inline-block; text-align: left; cursor: pointer; text-shadow: 0 1px 0 #071c02; text-decoration: none !important; }
.btn_dgreen i, .btn_dgreen_big i, .redirect__to i, .redirect__back i { margin: 0 7px 0 0; }
.btn_dgreen:hover, .btn_dgreen_big:hover, .redirect__to:hover, .redirect__back:hover { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #176605), color-stop(100%, #2a7a12)); background-image: -webkit-linear-gradient(top, #176605, #2a7a12); background-image: -moz-linear-gradient(top, #176605, #2a7a12); background-image: -o-linear-gradient(top, #176605, #2a7a12); background-image: linear-gradient(top, #176605, #2a7a12); -pie-background: linear-gradient(top, #176605, #2a7a12); background: -ms-linear-gradient(top, #176605, #2a7a12); }
.btn_dgreen:active, .btn_dgreen_big:active, .redirect__to:active, .redirect__back:active { background: #176605; -webkit-box-shadow: 0px 0px 0px white; -moz-box-shadow: 0px 0px 0px white; box-shadow: 0px 0px 0px white; }
.lt-ie9 .btn_dgreen, .lt-ie9 .btn_dgreen_big, .lt-ie9 .redirect__to, .lt-ie9 .redirect__back { behavior: none; background: #2a7a12; }

.smw__prices__list { overflow: hidden; height: 280px; }
.smw__prices__list .jspPane { width: 587px !important; }

.smw__prices__list__l { width: 406px; }

.smw__prices__list__head { padding: 0 10px; font-size: 13px; font-weight: 700; background: #e6f0fe; height: 32px; line-height: 31px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-top: 1px solid #e9e9e9; border-bottom: 1px solid #d1dfec; }

.smw__prices__list__table { width: 592px; font-size: 13px; color: #000; }
.smw__prices__list__table th { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f9ff), color-stop(100%, #f5f9ff)); background-image: -webkit-linear-gradient(top, #f5f9ff, #f5f9ff); background-image: -moz-linear-gradient(top, #f5f9ff, #f5f9ff); background-image: -o-linear-gradient(top, #f5f9ff, #f5f9ff); background-image: linear-gradient(top, #f5f9ff, #f5f9ff); -pie-background: linear-gradient(top, #f5f9ff, #f5f9ff); background: -ms-linear-gradient(top, #f5f9ff, #f5f9ff); border-top: 1px solid #fff; border-bottom: 1px solid #ededed; padding: 8px 0 8px 10px; font-weight: 700; vertical-align: bottom; }
.smw__prices__list__table td { border-bottom: 1px solid #ededed; background: #fff; padding: 0 0 0 10px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.smw__prices__list__table td:first-child { width: 405px; }
.smw__prices__list__table small { font-size: 10px; font-weight: 300 !important; }

.smw__prices__item:hover td { background: #faf8f1; }
.smw__prices__item:hover .smw__prices__buy { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.lt-ie9 .smw__prices__item:hover .smw__prices__buy { visibility: visible; }

.smw__prices__buy { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: opacity 0.3s; -moz-transition: opacity 0.3s; -o-transition: opacity 0.3s; transition: opacity 0.3s; float: right; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 25px; line-height: 25px; padding: 0 10px 0 29px; text-decoration: none; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5187b9), color-stop(100%, #46799b)); background-image: -webkit-linear-gradient(top, #5187b9, #46799b); background-image: -moz-linear-gradient(top, #5187b9, #46799b); background-image: -o-linear-gradient(top, #5187b9, #46799b); background-image: linear-gradient(top, #5187b9, #46799b); -pie-background: linear-gradient(top, #5187b9, #46799b); background: -ms-linear-gradient(top, #5187b9, #46799b); -webkit-box-shadow: 0px 1px 0px #83aacd inset; -moz-box-shadow: 0px 1px 0px #83aacd inset; box-shadow: 0px 1px 0px #83aacd inset; behavior: url(PIE.htc); position: relative; border: 1px solid #637d91; color: #fff !important; font-size: 12px !important; text-decoration: none !important; display: inline-block; text-align: left; cursor: pointer; /*  &:hover { @include grad(linear-gradient(top, #8bbdd7, #6caaca)); @include box-shadow(0px 1px 0px #add0e3 inset); border: 1px solid #7690a3; .lt-ie9 & { behavior: none; background: #6caaca; } } &:active { @include grad(linear-gradient(top, #439646, #5caf42)); @include box-shadow(0px 1px 0px #427d45 inset); border: 1px solid #589242; .lt-ie9 & { behavior: none; background: #5caf42; } }*/ }
.lt-ie9 .smw__prices__buy { visibility: hidden; }
.lt-ie9 .smw__prices__buy { behavior: none; background: #47819e; }
.smw__prices__buy:hover { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #46799b), color-stop(100%, #5187b9)); background-image: -webkit-linear-gradient(top, #46799b, #5187b9); background-image: -moz-linear-gradient(top, #46799b, #5187b9); background-image: -o-linear-gradient(top, #46799b, #5187b9); background-image: linear-gradient(top, #46799b, #5187b9); -pie-background: linear-gradient(top, #46799b, #5187b9); background: -ms-linear-gradient(top, #46799b, #5187b9); }
.smw__prices__buy:active { background: #46799b; }
.smw__prices__buy:before { content: ''; position: absolute; left: 8px; top: 7px; display: block; background-position: -12px 0; height: 13px; width: 11px; }

.smw__prices__item__cost { font-size: 14px; color: #003e7d; }

th.smw__prices__item__cost { font-size: 15px !important; color: #000; }

.smw__prices__list__all { position: relative; }

.where-to-buy__trigger { position: relative; text-decoration: none !important; line-height: 1; border-bottom: 1px dashed #003e7d; font-weight: 300; }
.where-to-buy__trigger:hover { border-bottom: 0; }
.where-to-buy__trigger:after { content: ''; position: absolute; right: -10px; top: 7px; display: block; border-left: 3px solid transparent; border-right: 3px solid transparent; border-top: 3px solid #515151; }

.where-to-buy { display: inline-block; margin: 0 -11px 0 3px; padding: 0 18px 0 4px; position: relative; font-weight: 300 !important; text-shadow: 0 1px 0 #fff; }
.where-to-buy a { border-bottom: 1px dashed #003e7d; }
.where-to-buy a:hover { border: none; }
.where-to-buy:after { content: ''; display: block; position: absolute; right: 6px; top: 50%; width: 10px; height: 10px; }
.where-to-buy .search { position: absolute; left: 0; width: 200px; z-index: 1000; display: none; cursor: pointer; -webkit-box-shadow: 0 2px 1px #979797; -moz-box-shadow: 0 2px 1px #979797; box-shadow: 0 2px 1px #979797; }
.where-to-buy .search a { border-bottom: 0; text-decoration: none; }
.where-to-buy input[type="text"] { width: 200px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 4px; }
.where-to-buy input[type="submit"] { position: absolute; right: 4px; top: 8px; background-position: -59px 0; height: 15px; width: 14px; border: none; }

.where-to-buy__towns { margin-top: -1px; }
.where-to-buy__towns li { overflow: hidden; display: block; background: none; float: none; padding: 0 !important; }
.where-to-buy__towns a { background: #fff; height: 23px; line-height: 23px; display: block; color: #1a1a1a; border-bottom: 1px solid #f1f1f1; padding: 0 0 0 9px; }
.where-to-buy__towns a:hover { background: #f0f2fe; }

/*

.smw__stuff{ &.opened{ .smw__stuff__in{ display: block; } .smw__footer{ display: none; } }
}
.smw__stuff__in{ display: none;

}*/
.smw__stuff.opened .smw__footer { display: none; }

.smw__stuff__in { display: none; }

.ie .smw__stuff__in { display: block; }

.ya-info { text-align: right; padding: 0 12px; font-size: 10px; font-weight: 300 !important; line-height: 39px; }
.ya-info a { text-decoration: none; }
.ya-info a:hover { text-decoration: underline; }
.smw__info-wrap .ya-info { position: relative; top: -11px; }
.smw__prices__list__head .ya-info { position: relative; top: -4px; padding-right: 20px; }

.smw__info-wrap-scroll { height: 280px; }

.smw__prices__list-scroll { height: 250px; width: 593px !important; position: relative; top: -10px; }

.redirect { display: none; overflow: hidden; position: absolute; left: 0; bottom: 0; width: 100%; height: 280px; z-index: 10; background: #fff; }

.redirect__head { padding-bottom: 12px; }

.redirect__body { background: #fff; color: #4e4e4e; font-size: 16px; text-align: center; padding: 52px 0; }
.redirect__body p { padding-bottom: 15px; }

.btn_dgreen_big, .redirect__to { height: 26px; line-height: 26px; font-size: 14px !important; }

.logo { background-position: 0 -97px; height: 30px; width: 137px; display: block; margin: -5px auto 15px auto; }

/*

.dropup,
.dropdown { position: relative;
}

.dropdown-toggle { margin-bottom: -3px;
}

.dropdown-toggle:active,
.open .dropdown-toggle { outline: 0;
}

.caret { display: inline-block; width: 0; height: 0; vertical-align: top; border-top: 4px solid #000000; border-right: 4px solid transparent; border-left: 4px solid transparent; content: "";
}

.dropdown .caret { margin-top: 8px; margin-left: 2px;
}

.dropdown-menu .divider { width: 100%; height: 1px; margin: 9px 1px; margin: -5px 0 5px; overflow: hidden; background-color: #e5e5e5; border-bottom: 1px solid #ffffff;
}

.dropdown-menu > li > a { display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 20px; color: #333333; white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a { color: #ffffff; text-decoration: none; background-color: #0081c2; background-image: -moz-linear-gradient(top, #0088cc, #0077b3); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3)); background-image: -webkit-linear-gradient(top, #0088cc, #0077b3); background-image: -o-linear-gradient(top, #0088cc, #0077b3); background-image: linear-gradient(to bottom, #0088cc, #0077b3); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus { color: #ffffff; text-decoration: none; background-color: #0081c2; background-image: -moz-linear-gradient(top, #0088cc, #0077b3); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3)); background-image: -webkit-linear-gradient(top, #0088cc, #0077b3); background-image: -o-linear-gradient(top, #0088cc, #0077b3); background-image: linear-gradient(to bottom, #0088cc, #0077b3); background-repeat: repeat-x; outline: 0; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus { color: #999999;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus { text-decoration: none; cursor: default; background-color: transparent; background-image: none; filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.open { z-index: 1000;
}

.open > .dropdown-menu { display: block;
}

.pull-right > .dropdown-menu { right: 0; left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret { border-top: 0; border-bottom: 4px solid #000000; content: "";
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu { top: auto; bottom: 100%; margin-bottom: 1px;
}

.dropdown-submenu { position: relative;
}

.dropdown-submenu > .dropdown-menu { top: 0; left: 100%; margin-top: -6px; margin-left: -1px; -webkit-border-radius: 0 6px 6px 6px; -moz-border-radius: 0 6px 6px 6px; border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu { display: block;
}

.dropup .dropdown-submenu > .dropdown-menu { top: auto; bottom: 0; margin-top: 0; margin-bottom: -2px; -webkit-border-radius: 5px 5px 5px 0; -moz-border-radius: 5px 5px 5px 0; border-radius: 5px 5px 5px 0;
}

.dropdown-submenu > a:after { display: block; float: right; width: 0; height: 0; margin-top: 5px; margin-right: -10px; border-color: transparent; border-left-color: #cccccc; border-style: solid; border-width: 5px 0 5px 5px; content: " ";
}

.dropdown-submenu:hover > a:after { border-left-color: #ffffff;
}

.dropdown-submenu.pull-left { float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu { left: -100%; margin-left: 10px; -webkit-border-radius: 6px 0 6px 6px; -moz-border-radius: 6px 0 6px 6px; border-radius: 6px 0 6px 6px;
}

.dropdown .dropdown-menu .nav-header { padding-right: 20px; padding-left: 20px;
}

.typeahead { z-index: 1051; margin-top: 2px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
}

.well { min-height: 20px; padding: 19px; margin-bottom: 20px; background-color: #f5f5f5; border: 1px solid #e3e3e3; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well blockquote { border-color: #ddd; border-color: rgba(0, 0, 0, 0.15);
}

.well-large { padding: 24px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;
}

.well-small { padding: 9px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}
*/
.smw__footer { cursor: pointer; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f5ff), color-stop(100%, #dcfaff)); background-image: -webkit-linear-gradient(top, #f6f5ff, #dcfaff); background-image: -moz-linear-gradient(top, #f6f5ff, #dcfaff); background-image: -o-linear-gradient(top, #f6f5ff, #dcfaff); background-image: linear-gradient(top, #f6f5ff, #dcfaff); -pie-background: linear-gradient(top, #f6f5ff, #dcfaff); background: -ms-linear-gradient(top, #f6f5ff, #dcfaff); behavior: url(PIE.htc); position: relative; border-top: 1px solid #dbdbdb; padding: 10px; color: #000; font-size: 15px; /*  &:before { content: ''; @include spr(images, smw__stuff__trigger2); display: block; position: absolute; right: 10px; top: 10px; }*/ }
.lt-ie9 .smw__footer { behavior: none; background: #dcfaff; }

.smw__stuff__num { color: #0a3069; font-size: 11px; padding: 0 8px 0 0; }

/* CSS Styles that are needed by jScrollPane for it to operate correctly.  Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane may not operate correctly without them. */
.jspContainer { overflow: hidden; position: relative; }

.jspPane { position: absolute; }

.jspVerticalBar { position: absolute; top: 0; right: 0; width: 7px; height: 100%; }

.jspHorizontalBar { position: absolute; bottom: 0; left: 0; width: 100%; height: 16px; background: red; }

.jspVerticalBar *, .jspHorizontalBar * { margin: 0; padding: 0; }

.jspCap { display: none; }

.jspHorizontalBar .jspCap { float: left; }

.jspTrack { background: #dcdcdc; position: relative; }

.jspDrag { background: #aeaeae; position: relative; top: 0; left: 0; cursor: pointer; }

.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag { float: left; height: 100%; }

.jspArrow { background: #50506d; text-indent: -20000px; display: block; cursor: pointer; }

.jspArrow.jspDisabled { cursor: default; background: #80808d; }

.jspVerticalBar .jspArrow { height: 16px; }

.jspHorizontalBar .jspArrow { width: 16px; float: left; height: 100%; }

.jspVerticalBar .jspArrow:focus { outline: none; }

.jspCorner { background: #eeeef4; float: left; height: 100%; }

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner { margin: 0 -3px 0 0; }

.debug { background: indianred; border: 1px solid #000; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 1000px; position: absolute; left: 0; top: 0; }
=======
/*
Syntax error: File to import not found or unreadable: typehead.
              Load paths:
                D:/work/SocialMart/widget/html/sass
                C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/blueprint/stylesheets
                C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets
                C:/Program Files (x86)/compass.app/lib/ruby/compass_extensions/compass-960-plugin-f4bfe8555a7d2cae09bc/stylesheets
                C:/Program Files (x86)/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets
                C:/Program Files (x86)/compass.app/lib/ruby/compass_extensions/compass-h5bp/stylesheets
                C:/Program Files (x86)/compass.app/lib/ruby/compass_extensions/bootstrap-sass-2.3.1.0/vendor/assets/stylesheets
                C:/Program Files (x86)/compass.app/lib/ruby/compass_extensions/susy-1.0.5/sass
                C:/Program Files (x86)/compass.app/lib/ruby/compass_extensions/zurb-foundation-4.0.8/scss
                Compass::SpriteImporter
                C:/Program Files (x86)/vendor/assets/stylesheets
        on line 19 of D:/work/SocialMart/widget/html/sass/style.scss

Backtrace:
D:/work/SocialMart/widget/html/sass/style.scss:19
C:/Program Files (x86)/compass.app/lib/ruby/compass_common/sass-3.2.7/lib/sass/../sass/tree/import_node.rb:67:in `import'
C:/Program Files (x86)/compass.app/lib/ruby/compass_common/sass-3.2.7/lib/sass/../sass/tree/import_node.rb:65:in `import'
C:/Program Files (x86)/compass.app/lib/ruby/compass_common/sass-3.2.7/lib/sass/../sass/tree/import_node.rb:28:in `imported_file'
C:/Program Files (x86)/compass.app/lib/ruby/compass_common/sass-3.2.7/lib/sass/../sass/tree/import_node.rb:36:in `css_import?'
C:/Program Files (x86)/compass.app/lib/ruby/compass_common/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:217:in `visit_import'
org/jruby/RubyKernel.java:2109:in `send'
C:/Program Files (x86)/compass.app/lib/ruby/compass_common/sass-3.2.7/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
C:/Program Files (x86)/compass.app/lib/ruby/compass_common/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
C:/Program Files (x86)/compass.app/lib/ruby/compass_common/sass-3.2.7/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2339:in `collect'
C:/Program Files (x86)/compass.app/lib/ruby/compass_common/sass-3.2.7/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
C:/Program Files (x86)/compass.app/lib/ruby/compass_common/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
C:/Program Files (x86)/compass.app/lib/ruby/compass_common/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
C:/Program Files (x86)/compass.app/lib/ruby/compass_common/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
C:/Program Files (x86)/compass.app/lib/ruby/compass_common/sass-3.2.7/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
C:/Program Files (x86)/compass.app/lib/ruby/compass_common/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:128:in `visit_root'
org/jruby/RubyKernel.java:2109:in `send'
C:/Program Files (x86)/compass.app/lib/ruby/compass_common/sass-3.2.7/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
C:/Program Files (x86)/compass.app/lib/ruby/compass_common/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
org/jruby/RubyKernel.java:2109:in `send'
C:/Program Files (x86)/compass.app/lib/ruby/compass_common/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
C:/Program Files (x86)/compass.app/lib/ruby/compass_common/sass-3.2.7/lib/sass/../sass/tree/root_node.rb:20:in `render'
C:/Program Files (x86)/compass.app/lib/ruby/compass_common/sass-3.2.7/lib/sass/../sass/engine.rb:315:in `_render'
C:/Program Files (x86)/compass.app/lib/ruby/compass_common/sass-3.2.7/lib/sass/../sass/engine.rb:262:in `render'
file:/C:/Program Files (x86)/compass.app/compass-app.jar!/compass_patch.rb:60:in `compile'
C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
file:/C:/Program Files (x86)/compass.app/compass-app.jar!/compass_patch.rb:59:in `compile'
C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/logger.rb:45:in `red'
file:/C:/Program Files (x86)/compass.app/compass-app.jar!/compass_patch.rb:58:in `compile'
C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:103:in `run'
org/jruby/RubyArray.java:1620:in `each'
C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:101:in `run'
C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/backport_from_0.13/lib/compass/watcher/compiler.rb:25:in `compile'
org/jruby/RubyKernel.java:2105:in `send'
(__FORWARDABLE__):3:in `compile'
C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/backport_from_0.13/lib/compass/watcher/project_watcher.rb:92:in `sass_modified'
C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/backport_from_0.13/lib/compass/watcher/project_watcher.rb:85:in `sass_callback'
org/jruby/RubyMethod.java:133:in `call'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/backport_from_0.13/lib/compass/watcher/watch.rb:17:in `run_callback'
C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/backport_from_0.13/lib/compass/watcher/project_watcher.rb:78:in `listen_callback'
org/jruby/RubyArray.java:1620:in `each'
C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/backport_from_0.13/lib/compass/watcher/project_watcher.rb:77:in `listen_callback'
org/jruby/RubyArray.java:1620:in `each'
C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/backport_from_0.13/lib/compass/watcher/project_watcher.rb:76:in `listen_callback'
org/jruby/RubyMethod.java:133:in `call'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
C:/Program Files (x86)/compass.app/lib/ruby/jruby/listen-0.7.2/lib/listen/listener.rb:212:in `on_change'
C:/Program Files (x86)/compass.app/lib/ruby/jruby/listen-0.7.2/lib/listen/listener.rb:221:in `initialize_adapter'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
C:/Program Files (x86)/compass.app/lib/ruby/jruby/listen-0.7.2/lib/listen/adapters/polling.rb:56:in `poll'
C:/Program Files (x86)/compass.app/lib/ruby/jruby/listen-0.7.2/lib/listen/adapters/polling.rb:32:in `start'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:224:in `call'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: typehead.\A               Load paths:\A                 D:/work/SocialMart/widget/html/sass\A                 C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/blueprint/stylesheets\A                 C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets\A                 C:/Program Files (x86)/compass.app/lib/ruby/compass_extensions/compass-960-plugin-f4bfe8555a7d2cae09bc/stylesheets\A                 C:/Program Files (x86)/compass.app/lib/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets\A                 C:/Program Files (x86)/compass.app/lib/ruby/compass_extensions/compass-h5bp/stylesheets\A                 C:/Program Files (x86)/compass.app/lib/ruby/compass_extensions/bootstrap-sass-2.3.1.0/vendor/assets/stylesheets\A                 C:/Program Files (x86)/compass.app/lib/ruby/compass_extensions/susy-1.0.5/sass\A                 C:/Program Files (x86)/compass.app/lib/ruby/compass_extensions/zurb-foundation-4.0.8/scss\A                 Compass::SpriteImporter\A                 C:/Program Files (x86)/vendor/assets/stylesheets\A         on line 19 of D:/work/SocialMart/widget/html/sass/style.scss"; }
>>>>>>> master
