@import "settings";


#smw {
  @import "compass/reset";
  margin: 0 auto;
  strong {
    font-weight: 700;
  }
  p {
    text-indent: 0 !important;
    text-align: left;
  }
  * {
    outline: none;
  }



  .clearfix {
    @include clearfix;
  }

  .db {
    display: block;
  }

  .dib {
    display: inline-block;
  }

  .fl_l {
    float: left !important;
  }

  .fl_r {
    float: right !important;
  }

  .center {
    overflow: hidden;
  }

  .tac {
    text-align: center;
  }

}
#smw {
  font-family: 'Trebuchet MS';
  //font-family:  Arial;
  width: 593px;
  border: 1px solid #d4d4d4;
  text-align: left;
  *{
    text-align: left;
  }
}

@import "header";

@import "content";

@import "typehead";

@import "footer";

@import "jquery.jscrollpane";

.debug {
  background: indianred;
  border: 1px solid #000;
  @include box-sizing(border-box);
  width: 1000px;
  position: absolute;
  left: 0;
  top: 0;
}

@import "lt-ie9";

#smw .smw__stuff:first-child .smw__stuff__in {
  display: block;
}
